html, body {
    background-color: #25274D;
    font-family: 'Staatliches', cursive;
    max-width: 800px;
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
}

h1 {
    text-align: center;
    color: white;
    letter-spacing: 1.5px;
    font-size: 60px;
}

p {
    margin-top: 0px;
    font-size: 26px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.steps {
    border-radius: 3px;
    background-color: white; 
    display: inline-block; 
    color: #29648A;
    padding: 3px;
    white-space: nowrap;
}

h2 {
    letter-spacing: 0.5px;
    font-size: 36px;
}

img {
    max-width: 250%;
    margin-top: 50px;
    border-radius: 6px;
}